﻿@model TransactionsListViewModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

@using (Html.BeginForm())
{
    <p>
        Asset: @Html.DropDownListFor(
            x => x.Filter.AssetId,
            new SelectList(
                Model.Assets,
                "Id",
                "Name"
            ),
            "Choose Asset"
        )
        <input type="submit" value="Filter"/>
    </p>
    <p>
        Date From: @Html.EditorFor(x => x.Filter.DateFrom, new { @Value = Model.Filter.DateFrom })
    </p>
    <p>
        Date To: @Html.EditorFor(x => x.Filter.DateTo)
    </p>
}

<table class="table">
    <thead>
        <tr>
@*             <th>
                Id
            </th> *@
            <th>
                AssetName
            </th>
            <th>
                TransactionTime
            </th>
            <th>
                TransactionType
            </th>
            <th>
                Volume
            </th>
            <th>
                PriceInCurrency
            </th>
            <th>
                Price
            </th>
            <th>
                Currency
            </th>
            <th>
                Commission
            </th>
            <th>
                Amount
            </th>
            <th>
                Balance
            </th>
@*             <th>
                Buy transactions
            </th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transactions) {
        <tr>
@*             <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceInCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.BuyTransactionIds)
            </td> *@
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9"></td>
            <td>
                @Math.Round(
                    Model.Transactions
                    .Where(
                        x => x.TransactionType == Portfolio.Core.Models.TransactionType.Sell)
                        .Sum(x => x.Balance),
                    2
                )
            </td>
        </tr>
    </tfoot>
</table>
